.header__liner-gradient{
    background-image: radial-gradient(closest-corner at 1100px 800px , rgb(212, 117, 88), black );
}

.header{
    &::before{
        content: "";
        position: absolute;
        background-image: url("../images/line.png");  
        background-repeat: no-repeat;
        width: 1240px;
        height: 1064px;
    }
}

.header__img{
    margin-right: auto;
}

.header__box{
    display: flex;
    padding: 65px 0 182px 0;
    align-items: center;
}

.header__nav{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__item:nth-child(3){
    margin-right: 30px;
}

.header__list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.header__item{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */


   
}

.header__link{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;

    opacity: 0.6;
    text-decoration: none;
}

.header__item + .header__item{
    margin-left: 10px;
    margin-left: 30px;
}

.header__language{
    width: 150px;
    border: 1px solid #FFFFFF;
    padding: 8px 30px 10px 20px;
    border-radius: 75px;
    opacity: 0.6;
}

.header__lange{
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height, or 144% */
    
    
    color: #FFFFFF;
    
    opacity: 0.6;
    text-decoration: none;
}

.header__lange + .header__lange{
    margin-left: 10px;
}



.header__hamburg-btn{
    display: none;
    font-size: 25px;
    background-color:transparent;
   border: none;
}


@media only screen and (max-width:426px){

    body{
        background-image: radial-gradient(closest-corner at 1100px 800px , rgb(78, 66, 62), rgb(54, 28, 28) );
  
    }
    
.header__img{
    display: none;
}

.header__box{
    width: 0;
    margin: 0;
}

    .header{
        &::before{
            display: none;
        }
    }
  
.header--open .header__list{
    display: flex;
}

.header__list{
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 0;
    z-index: 2;
    top: 66px;
    right: 0;
    background-color: rgb(168, 42, 42);
    opacity: 0.6;
  }


  .header__link{
      width: 600px;
      color: #fff;
      opacity: 1;
  }


.header__language{
    width: 200px;
    display: flex;
    margin-right: 350px;
    margin-left: auto;
}
  
.header__hamburg-btn{
  display: block;
}  

}
